@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    AppStage Playground<br />
</address>

<address>
    <strong>Playground:</strong> <a href="mailto:Marketing@example.com">playground@example.com</a>
</address>
